@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.pc-only {
  display: block;
}
@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

.inner {
  width: 953px;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  display: grid;
  place-items: center;
  background-color: #FFCF48;
  border-radius: 30px;
  width: 249px;
  height: 48px;
}
.btn__text {
  padding-right: 40px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #0053A5;
  position: relative;
}
.btn__text::after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/Exclude.png) no-repeat center center/cover;
}

.header {
  width: 100%;
  height: 70px;
}
@media (max-width: 767px) {
  .header {
    height: 52px;
  }
}
.header-inner {
  max-width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: block;
  width: 328px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 224px;
  }
}
.header__logoImg {
  width: 100%;
  height: auto;
}
.header__btn {
  width: 177px;
  height: 42px;
  display: grid;
  place-items: center;
  background-color: #FFCF48;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .header__btn {
    width: 114px;
    height: 26px;
  }
}
.header__btn--text {
  padding-right: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #0054AC;
  position: relative;
}
@media (max-width: 767px) {
  .header__btn--text {
    font-size: 10px;
  }
}
.header__btn--text::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-right: 1px solid #0054AC;
  border-bottom: 1px solid #0054AC;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.fv {
  width: 100%;
  height: 440px;
}
@media (max-width: 767px) {
  .fv {
    height: auto;
  }
}
.fv-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.fv-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/fv_bg.png) no-repeat center center/cover;
  z-index: -1;
}
@media (max-width: 767px) {
  .fv-container::after {
    background: url(../images/fv_bg_sp.png) no-repeat center center/cover;
  }
}
.fv-inner {
  width: 953px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 59px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .fv-inner {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
  .fv-inner {
    display: block;
    padding-top: 25px;
    padding-bottom: 27px;
  }
}
.fv__head {
  width: 220px;
  height: 36px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
}
@media (max-width: 767px) {
  .fv__head {
    width: 183px;
    height: 34px;
    margin: 0 auto;
  }
}
.fv__head::after {
  content: "";
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  background: url(../images/Polygon.png) no-repeat center center/cover;
  z-index: -1;
}
.fv__headText {
  padding-left: 9px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #0053A5;
}
@media (max-width: 767px) {
  .fv__headText {
    font-size: 18px;
  }
}
.fv__text {
  margin-top: 18px;
  font-size: 47px;
  font-weight: 900;
  white-space: nowrap;
  color: #fff;
  line-height: 1.36;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .fv__text {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .fv__text {
    text-align: center;
    font-size: 42px;
  }
}
.fv__text--emphasis {
  position: relative;
}
.fv__text--emphasis::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFC631;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .fv__text--emphasis::before {
    width: 6px;
    height: 6px;
  }
}
@media (max-width: 767px) {
  .fv__text--pcOnly {
    display: none;
  }
}
.fv-btns {
  margin-top: 15px;
}
.fv__btn {
  width: 296px;
  height: 54px;
  margin-top: 16px;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .fv__btn {
    width: 270px;
    height: 48px;
  }
}
@media (max-width: 767px) {
  .fv__btn {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .fv__btn--pc {
    display: none;
  }
}
.fv__btn--text {
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .fv__btn--text {
    font-size: 18px;
  }
}
.fv__app {
  background-color: #fff;
  margin-top: 10px;
}
.fv-right {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .fv-right {
    text-align: center;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .fv__img {
    max-width: 355px;
  }
}
.fv-nav {
  margin-top: 42px;
  margin-bottom: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (max-width: 1080px) {
  .fv-nav {
    display: block;
  }
}
@media (max-width: 767px) {
  .fv-nav {
    margin-top: 53px;
    margin-bottom: 46px;
  }
}
.fv-nav__item {
  width: 305px;
  height: 67px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(200, 212, 255, 0.6);
          box-shadow: 0 0 20px rgba(200, 212, 255, 0.6);
  position: relative;
}
@media (max-width: 1080px) {
  .fv-nav__item {
    margin: 0 auto;
  }
  .fv-nav__item:not(:first-child) {
    margin-top: 15px;
  }
}
.fv-nav__item::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/images/arrow_bottom.png) no-repeat center center/contain;
}
.fv-nav__item:nth-child(1) {
  padding-left: 24px;
  gap: 10px;
}
.fv-nav__item:nth-child(1) .fv-nav__img {
  width: 36px;
}
.fv-nav__item:nth-child(2) {
  padding-left: 21px;
  gap: 17px;
}
.fv-nav__item:nth-child(2) .fv-nav__img {
  width: 31px;
}
.fv-nav__item:nth-child(3) {
  padding-left: 24px;
  gap: 21px;
}
.fv-nav__item:nth-child(3) .fv-nav__img {
  width: 24px;
}
.fv-nav__img {
  height: auto;
}
.fv-nav__text {
  font-weight: bold;
}

/* ========================================================================
Foundation - ファウンデーション
======================================================================== */
/* ========================================================================
	Layout - レイアウト
======================================================================== */
/* ========================================================================
	Objects - オブジェクト
======================================================================== */