@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.pc-only {
  display: block;
}
@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

.inner {
  width: 953px;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  display: grid;
  place-items: center;
  background-color: #FFCF48;
  border-radius: 30px;
  width: 249px;
  height: 48px;
}
.btn__text {
  padding-right: 40px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #0053A5;
  position: relative;
}
.btn__text::after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/Exclude.png) no-repeat center center/cover;
}

.section__title {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.section__title::after {
  content: "";
  display: block;
  width: 157px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #0054AC;
}

.section__subTitle {
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .section__subTitle {
    margin-top: 28px;
  }
}

.header {
  width: 100%;
  height: 70px;
}
@media (max-width: 767px) {
  .header {
    height: 52px;
  }
}
.header-inner {
  max-width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: block;
  width: 328px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 224px;
  }
}
.header__logoImg {
  width: 100%;
  height: auto;
}
.header__btn {
  width: 177px;
  height: 42px;
  display: grid;
  place-items: center;
  background-color: #FFCF48;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .header__btn {
    width: 114px;
    height: 26px;
  }
}
.header__btn--text {
  padding-right: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #0054AC;
  position: relative;
}
@media (max-width: 767px) {
  .header__btn--text {
    font-size: 10px;
  }
}
.header__btn--text::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-right: 1px solid #0054AC;
  border-bottom: 1px solid #0054AC;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.fv {
  width: 100%;
  height: auto;
}
.fv-container {
  position: relative;
  width: 100%;
  height: 440px;
}
@media (max-width: 767px) {
  .fv-container {
    height: auto;
  }
}
.fv-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/fv_bg.png) no-repeat center center/cover;
  z-index: -1;
}
@media (max-width: 767px) {
  .fv-container::after {
    background: url(../images/fv_bg_sp.png) no-repeat center center/cover;
  }
}
.fv-inner {
  width: 953px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 59px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .fv-inner {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
  .fv-inner {
    display: block;
    padding-top: 25px;
    padding-bottom: 27px;
  }
}
.fv__head {
  width: 220px;
  height: 36px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
}
@media (max-width: 767px) {
  .fv__head {
    width: 183px;
    height: 34px;
    margin: 0 auto;
  }
}
.fv__head::after {
  content: "";
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  background: url(../images/Polygon.png) no-repeat center center/cover;
  z-index: -1;
}
.fv__headText {
  padding-left: 9px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #0053A5;
}
@media (max-width: 767px) {
  .fv__headText {
    font-size: 18px;
  }
}
.fv__text {
  margin-top: 18px;
  font-size: 47px;
  font-weight: 900;
  white-space: nowrap;
  color: #fff;
  line-height: 1.36;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .fv__text {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .fv__text {
    text-align: center;
    font-size: 42px;
  }
}
.fv__text--emphasis {
  position: relative;
}
.fv__text--emphasis::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFC631;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .fv__text--emphasis::before {
    width: 6px;
    height: 6px;
  }
}
@media (max-width: 767px) {
  .fv__text--pcOnly {
    display: none;
  }
}
.fv-btns {
  margin-top: 15px;
}
.fv__btn {
  width: 296px;
  height: 54px;
  margin-top: 16px;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .fv__btn {
    width: 270px;
    height: 48px;
  }
}
@media (max-width: 767px) {
  .fv__btn {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .fv__btn--pc {
    display: none;
  }
}
.fv__btn--text {
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .fv__btn--text {
    font-size: 18px;
  }
}
.fv__app {
  background-color: #fff;
  margin-top: 10px;
}
.fv-right {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .fv-right {
    text-align: center;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .fv__img {
    max-width: 355px;
  }
}
.fv-nav {
  margin-top: 42px;
  margin-bottom: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (max-width: 1080px) {
  .fv-nav {
    display: block;
  }
}
@media (max-width: 767px) {
  .fv-nav {
    margin-top: 53px;
    margin-bottom: 46px;
  }
}
.fv-nav__item {
  width: 305px;
  height: 67px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(200, 212, 255, 0.6);
          box-shadow: 0 0 20px rgba(200, 212, 255, 0.6);
  position: relative;
}
@media (max-width: 1080px) {
  .fv-nav__item {
    margin: 0 auto;
  }
  .fv-nav__item:not(:first-child) {
    margin-top: 15px;
  }
}
.fv-nav__item::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/images/arrow_bottom.png) no-repeat center center/contain;
}
.fv-nav__item:nth-child(1) {
  padding-left: 24px;
  gap: 10px;
}
.fv-nav__item:nth-child(1) .fv-nav__img {
  width: 36px;
}
.fv-nav__item:nth-child(2) {
  padding-left: 21px;
  gap: 17px;
}
.fv-nav__item:nth-child(2) .fv-nav__img {
  width: 31px;
}
.fv-nav__item:nth-child(3) {
  padding-left: 24px;
  gap: 21px;
}
.fv-nav__item:nth-child(3) .fv-nav__img {
  width: 24px;
}
.fv-nav__img {
  height: auto;
}
.fv-nav__text {
  font-weight: bold;
}

.reason {
  background-color: #F0F4FE;
}
.reason-inner {
  padding-top: 55px;
  padding-bottom: 74px;
}
.reason-items {
  margin-top: 34px;
}
@media (max-width: 1080px) {
  .reason-items {
    max-width: calc(100% - 40px);
    margin: 32px auto 0;
  }
}
.reason__item {
  width: 100%;
  height: 68px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(200, 212, 255, 0.6);
          box-shadow: 0 0 20px rgba(200, 212, 255, 0.6);
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
.reason__item.is-active {
  height: auto;
  padding-bottom: 40px;
}
.reason__item.is-active .reason-itemContainer {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.reason__item:not(:first-child) {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .reason__item {
    max-width: 350px;
    height: 103px;
    margin: 0 auto;
  }
}
.reason__itemHead {
  width: 100%;
  height: 68px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.reason__itemHead.is-active {
  background-color: #0054AC;
}
.reason__itemHead.is-active .reason__itemHeadImgArea {
  background-color: #0054AC;
}
.reason__itemHead.is-active .reason__itemHeadText {
  color: #fff;
}
.reason__itemHead.is-active .reason__itemHeadIcons {
  background-color: #fff;
}
.reason__itemHead.is-active .reason__itemHeadIcons .reason__itemHeadIcon01,
.reason__itemHead.is-active .reason__itemHeadIcons .reason__itemHeadIcon02 {
  background-color: #0054AC;
}
.reason__itemHead.is-active .reason__itemHeadIcons .reason__itemHeadIcon02 {
  top: 25%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (max-width: 767px) {
  .reason__itemHead {
    height: 103px;
    gap: 7px;
  }
}
.reason__itemHeadImgArea {
  width: 78px;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #91AFF2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.reason__itemHeadImg {
  height: auto;
}
.reason__itemHeadImg:nth-child(1) {
  width: 59px;
}
.reason__itemHeadText {
  font-size: 18px;
  font-weight: bold;
  color: #0054AC;
}
@media (max-width: 767px) {
  .reason__itemHeadText {
    font-size: 16px;
  }
}
.reason__itemHeadIcons {
  width: 28px;
  height: 28px;
  background-color: #0054AC;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.reason__itemHeadIcon01, .reason__itemHeadIcon02 {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.reason__itemHeadIcon01 {
  width: 14px;
  height: 2px;
}
.reason__itemHeadIcon02 {
  width: 2px;
  height: 14px;
}
.reason-itemContainer {
  padding-top: 30px;
  padding-left: 9.8%;
  padding-right: 9.8%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
  font-family: "Inter", sans-serif;
}
@media (max-width: 767px) {
  .reason-itemContainer {
    padding-top: 24px;
  }
}
.reason-itemContainer__head {
  font-size: 14px;
}
.reason-item01Container, .reason-item03Container {
  padding-left: 9%;
  padding-right: 9%;
}
@media (max-width: 767px) {
  .reason-item01Container, .reason-item03Container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.reason-item__closeBtn {
  display: block;
  padding-left: 30px;
  margin: 72px auto 0;
  text-align: center;
  font-weight: bold;
  position: relative;
}
@media (max-width: 767px) {
  .reason-item__closeBtn {
    margin: 50px auto 0;
  }
}
.reason-item__closeBtn::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/images/close_btn.png) no-repeat center center/contain;
}
.reason-item01Wrap {
  margin-top: 38px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .reason-item01Wrap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 14px;
  }
}
.reason-item01ImgArea {
  width: 70px;
  height: 520px;
}
@media (max-width: 767px) {
  .reason-item01ImgArea {
    width: 58px;
    height: 707px;
  }
}
.reason-item01Ul {
  max-width: 680px;
  width: 87%;
}
.reason-item01__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.reason-item01__list:not(:first-child) {
  margin-top: 46px;
}
@media (max-width: 767px) {
  .reason-item01__list:not(:first-child) {
    margin-top: 40px;
  }
}
.reason-item01__listHead {
  font-weight: bold;
}
.reason-item01__listText {
  margin-top: 10px;
  font-size: 12px;
}
.reason-item01__listText--small {
  display: block;
  font-size: 9px;
}
.reason-item02__imgArea {
  width: 100%;
  height: auto;
  margin-top: 37px;
  position: relative;
}
.reason-item02__img {
  width: 100%;
  height: auto;
}
.reason-item02__tag {
  display: grid;
  place-items: center;
  width: 134px;
  height: 134px;
  position: absolute;
  top: -19px;
  right: -28px;
  background-color: #0054AC;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .reason-item02__tag {
    width: 84px;
    height: 84px;
    right: -9px;
  }
}
.reason-item02__tag--text {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 767px) {
  .reason-item02__tag--text {
    font-size: 12px;
    padding-bottom: 5px;
  }
}
.reason-item03__ul {
  margin-top: 35px;
}
.reason-item03__list:not(:first-child) {
  margin-top: 30px;
}
.reason-item03__listHead {
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
@media (max-width: 767px) {
  .reason-item03__listHead {
    font-size: 16px;
  }
}
.reason-item03__listHead::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/images/reason_item03_underbar.png) no-repeat center center/cover;
}
@media (max-width: 767px) {
  .reason-item03__listHead::after {
    background-size: contain;
  }
}
.reason-item03__listInner {
  margin-top: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6.5%;
}
@media (max-width: 767px) {
  .reason-item03__listInner {
    display: block;
  }
}
.reason-item03__listLeft {
  width: 47.5%;
}
@media (max-width: 767px) {
  .reason-item03__listLeft {
    width: 100%;
  }
}
.reason-item03__listLeft .reason-item03__img {
  width: 100%;
  height: auto;
}
.reason-item03__listRight {
  width: 48%;
}
@media (max-width: 767px) {
  .reason-item03__listRight {
    width: 100%;
  }
}
.reason-item03__listRight .reason-item03__text {
  padding-top: 25px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .reason-item03__listRight .reason-item03__text {
    padding-top: 10px;
  }
}
.reason-item04__imgArea {
  width: 100%;
  height: auto;
  margin-top: 37px;
  position: relative;
}
.reason-item04__img {
  width: 100%;
  height: auto;
}
.reason-item04__tag {
  display: grid;
  place-items: center;
  width: 134px;
  height: 134px;
  position: absolute;
  top: -22px;
  right: 93px;
  background-color: #0054AC;
  border-radius: 50%;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .reason-item04__tag {
    right: 50px;
  }
}
@media (max-width: 767px) {
  .reason-item04__tag {
    display: none;
  }
}
.reason-item04__tag--text {
  color: #fff;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 767px) {
  .reason-item04__tag--text {
    font-size: 12px;
    padding-bottom: 5px;
  }
}

.plan {
  padding-top: 50px;
  padding-bottom: 77px;
}
.plan-ul {
  width: 953px;
  height: 572px;
  margin-top: 77px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
  position: relative;
}
@media (max-width: 1080px) {
  .plan-ul {
    display: none;
  }
}
.plan-balloon {
  width: 183px;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.plan-balloon__img {
  width: 100%;
  height: auto;
}
.plan-list {
  display: block;
  width: 305px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #D7D7D7;
}
.plan-list__headArea {
  padding: 5px 0;
  background-color: #C3D0F7;
  border-radius: 10px 10px 0 0;
  display: grid;
  place-items: center;
}
.plan-list__head {
  color: #0054AC;
  font-weight: bold;
  text-align: center;
}
.plan-list__head--small {
  font-size: 12px;
  display: inline-block;
  position: relative;
}
.plan-list__head--small::before, .plan-list__head--small::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #fff;
}
.plan-list__head--small::before {
  left: -23px;
  -webkit-transform: rotate(70deg) translateY(-50%);
          transform: rotate(70deg) translateY(-50%);
}
.plan-list__head--small::after {
  right: -23px;
  -webkit-transform: rotate(-70deg) translateY(-50%);
          transform: rotate(-70deg) translateY(-50%);
}
.plan-list__head .plan-list02__head--small::before {
  left: -18px;
}
.plan-list__head--big {
  font-size: 18px;
}
.plan-list .plan-listContainer {
  padding: 15px 25px;
  text-align: center;
}
.plan-list__icon {
  width: 71px;
}
.plan-list__year {
  margin-top: 10px;
}
.plan-list__yearText {
  line-height: 1.2;
}
.plan-list__yearText--num {
  font-size: 32px;
  font-weight: bold;
  padding-right: 3px;
}
.plan-list__month {
  margin-top: 5px;
}
.plan-list__monthText {
  line-height: 1.4;
}
.plan-list__btn {
  margin: 12px auto 0;
}
.plan-list__function {
  max-width: 255px;
  margin: 12px auto 0;
}
.plan-list__functionTitle {
  margin-bottom: 6px;
}
.plan-list__functionList {
  text-align: left;
}
.plan-list__functionText {
  padding-left: 28px;
  position: relative;
}
.plan-list__functionText::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/images/check.png) no-repeat center center/contain;
}
.plan-bottom {
  width: 100%;
  height: auto;
  padding: 16px 0;
  margin-top: 35px;
  background-color: #F4F3F3;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .plan-bottom {
    max-width: 95%;
    margin: 30px auto 0;
  }
}
@media (max-width: 767px) {
  .plan-bottom {
    margin: 15px auto 0;
    max-width: 335px;
  }
}
.plan-bottom__head {
  padding-bottom: 12px;
  border-bottom: 1px solid #D9D9D9;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.plan-bottom__ul {
  padding-top: 18px;
  padding-left: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 767px) {
  .plan-bottom__ul {
    display: block;
    padding-left: 19px;
  }
}
.plan-bottom__list {
  width: 290px;
  padding-left: 15px;
  font-size: 12px;
  position: relative;
}
.plan-bottom__list::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 83, 165, 0.45);
  border-radius: 50%;
}

.simulation {
  padding-top: 55px;
  padding-bottom: 117px;
  background-color: #F0F4FE;
}
@media (max-width: 767px) {
  .simulation {
    padding-top: 37px;
    padding-bottom: 57px;
  }
}
@media (max-width: 767px) {
  .simulation-inner {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
}
.simulation-qa {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .simulation-qa {
    max-width: 95%;
    margin: 50px auto 0;
  }
}
.simulation-q:nth-child(2) {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .simulation-q {
    max-width: 330px;
    margin: 50px auto 0;
  }
}
.simulation-q__head {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  position: relative;
}
.simulation-q__head::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/images/simulation_underbar.png) no-repeat center center/cover;
}
@media (max-width: 767px) {
  .simulation-q__head::after {
    background-size: contain;
  }
}
.simulation-a__row {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .simulation-a__row {
    display: block;
    margin-top: 23px;
  }
}
.simulation-a__wrap {
  width: 48.8%;
  height: 84px;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(200, 212, 255, 0.6);
          box-shadow: 0 0 20px rgba(200, 212, 255, 0.6);
}
@media (max-width: 767px) {
  .simulation-a__wrap {
    width: 100%;
  }
  .simulation-a__wrap:nth-child(even) {
    margin-top: 12px;
  }
}
.simulation-a__wrap input[type=radio] {
  position: relative;
}
.simulation-a__wrap input[type=radio]::before, .simulation-a__wrap input[type=radio]::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}
.simulation-a__wrap input[type=radio]::before {
  width: 24px;
  height: 24px;
  background-color: #fff;
  top: -5px;
  left: -5px;
  border: 1px solid #C4C4C4;
}
.simulation-a__wrap input[type=radio]::after {
  width: 14px;
  height: 14px;
  background-color: #fff;
  top: 0;
  left: 0;
}
.simulation-a__wrap input[type=radio]:checked::after {
  background-color: #0054AC;
}
.simulation-result {
  width: 100%;
  height: auto;
  padding-top: 47px;
  padding-bottom: 41px;
  padding: 47px 52px 41px 52px;
  margin-top: 62px;
  background-color: #fff;
  border-radius: 10px;
}
@media (min-width: 768px) and (max-width: 1079px) {
  .simulation-result {
    padding: 40px 45px 35px 45px;
    max-width: 95%;
    margin: 62px auto 0;
  }
}
@media (max-width: 767px) {
  .simulation-result {
    max-width: 350px;
    padding: 45px 19px;
    margin: 33px auto 0;
  }
}
.simulation-result__head {
  font-weight: bold;
  text-align: center;
}
.simulation-result__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.simulation-result__wrap {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5%;
}
@media (max-width: 767px) {
  .simulation-result__wrap {
    display: block;
  }
}
.simulation-result__priceArea {
  width: 48.7%;
  height: auto;
  padding: 20px;
  background-color: #E9EFFF;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .simulation-result__priceArea {
    width: 100%;
    padding: 15px;
  }
  .simulation-result__priceArea:nth-child(2) {
    margin-top: 20px;
  }
}
.simulation-result__name {
  text-align: center;
}
.simulation-result__price {
  text-align: center;
}
.simulation-result__price--num {
  font-size: 32px;
  font-weight: bold;
}
.simulation-result__noteArea {
  margin-top: 20px;
}
.simulation-result__note {
  font-size: 12px;
}
.simulation-result__note--under {
  text-decoration: underline;
}
.simulation-result__btn {
  margin: 40px auto 0;
}

/* ========================================================================
Foundation - ファウンデーション
======================================================================== */
/* ========================================================================
	Layout - レイアウト
======================================================================== */
/* ========================================================================
	Objects - オブジェクト
======================================================================== */