@use "../foundation/global" as *;

.fv {
    width: 100%;
    height: auto;
    
    
    &-container {
        position: relative;
        width: 100%;
        height: 440px;
        
        @include mq("sp") {
            height: auto;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../img/fv_bg.png) no-repeat center center / cover;
            z-index: -1;
            
            @include mq("sp") {
                background: url(../img/fv_bg_sp.png) no-repeat center center / cover;
            }
        }
    }
    
    
    &-inner {
        width: 953px;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 59px;
        position: relative;
        display: flex;
        // align-items: flex-end;
        
        @include mq("tab") {
            max-width: 95%;
        }
        @include mq("sp") {
            display: block;
            padding-top: 25px;
            padding-bottom: 27px;
        }
    }

    &-left {

    }

    &__head {
        width: 220px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 30px;
        position: relative;

        @include mq("sp") {
            width: 183px;
            height: 34px;
            margin: 0 auto;   
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 28px;
            height: 20px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 10px);
            background: url(../img/Polygon.png) no-repeat center center / cover;
            
        }
    }
    &__headText {
        padding-left: 9px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: $theme02_color;
        position: relative;
        z-index: 2;

        @include mq("sp") {
            font-size: 18px;
        }
    }

    &__text {
        margin-top: 18px;
        font-size: 47px;
        font-weight: 900;
        white-space: nowrap;
        color: #fff;
        line-height: 1.3;

        @include mq("tab") {
            font-size: 42px;
        }
        @include mq("sp") {
            text-align: center;
            font-size: 42px;
            line-height: 1.28;
        }

        &--emphasis {
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                position: absolute;
                top: 5px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $theme05_color;
                border-radius: 50%;

                @include mq("sp") {
                    width: 6px;
                    height: 6px;
                }
            }
        }
        &--pcOnly {

            @include mq("sp") {
                display: none;
            }
        }
    }

    &-btns {
        margin-top: 15px;
    }

    &__btn {
        width: 296px;
        height: 54px;
        margin-top: 16px;

        @include mq("tab") {
            width: 270px;
            height: 48px;
        }
        @include mq("sp") {
            margin: 0 auto;
        }

        &--pc {

            @include mq("sp") {
                display: none;
            }
        }

        &--text {
            font-size: 20px;

            @include mq("tab") {
                font-size: 18px;
            }
        }

    }
    &__app {
        background-color: #fff;
        margin-top: 10px; 
    }

    &-right {
        width: 100%;
        height: auto;
        padding-top: 10px;

        @include mq("sp") {
            text-align: center;
            padding-top: 5px;
        }
    }

    &__img {

        
        @include mq("sp") {
            max-width: 355px;
            margin: 0 auto;
        }
    }

    &-nav {
        margin-top: 42px;
        margin-bottom: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
        @media (max-width: 1080px) {
            display: block;
        }
        @include mq("sp") {
            margin-top: 53px;
            margin-bottom: 46px;
        }

        &__item {
            width: 305px;
            height: 67px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(#C8D4FF, .6);
            position: relative;

            @media (max-width: 1080px) {
                margin: 0 auto;

                &:not(:first-child) {
                    margin-top: 15px;
                }
            }

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                background: url(/img/arrow_bottom.png) no-repeat center center / contain;
            }

            &:nth-child(1) {
                padding-left: 24px;
                gap: 10px;

                .fv-nav__img {
                    width: 36px;
                }
            }
            &:nth-child(2) {
                padding-left: 21px;
                gap: 17px;

                .fv-nav__img {
                    width: 31px;
                }
            }
            &:nth-child(3) {
                padding-left: 24px;
                gap: 21px;

                .fv-nav__img {
                    width: 24px;
                }

            }
        }

        &__img {
            height: auto;
        }

        &__text {
            font-weight: bold;
        }
    }
}